<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      INTEREST
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="star">
    <div *ngIf="testList.length > 0">
      <ion-item *ngFor="let member of testList">
        <ion-label>{{member?.testName || 'N/A'}}</ion-label>
        <ion-checkbox color="dark" (change)="addCheckbox($event,member.testName)"></ion-checkbox>
      </ion-item>
    </div>
  </div>
  <div class="bt-popup">
    <button ion-button color="primary" (click)="clickClose()">CLOSE</button>
    <button ion-button color="primary" (click)="clickSend()">SEND</button>
  </div>
</ion-content>