page-popup-rating {
    left: 25vw !important;
    top: 30vh !important;
    width: 50vw !important;
    height: 40vh !important;
    border-color: black;
    border-style: groove;
    border-width: .5px;


    .bt-popup {
        position: absolute;
        bottom: 5px;
        margin-left: 5vw;
    }

    // .scroll-content {
    //     overflow: unset !important;
    // }

}